<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanity.mobilevanity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.register.RegisterSearchActivity" />
        <activity android:name=".beautytip.BeautyTipDetailActivity" />
        <activity android:name=".beautytip.BeautyTipWriteActivity" />
        <activity android:name=".register.RegisterSearchActivity" />
        <activity android:name=".register.RegisterBarcodeActivity" />
        <activity android:name=".register.RegisterDetailActivity" />
        <activity android:name=".cosmetic.CosmeticListActivity" />
        <activity android:name=".cosmetic.CosmeticDetailActivity" />
        <activity android:name=".mypage.UpdateProfileActivity" />
        <activity android:name=".mypage.MyBeautyTipActivity" />
        <activity android:name=".mypage.LikeActivity" />
        <activity android:name=".main.AlertActivity"></activity>
        <activity android:name=".register.RegisterDetailActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".setting.AccessTermActivity" />
        <activity android:name=".setting.FAQActivity" />
        <activity android:name=".setting.PartnerShipActivity" />
        <activity android:name=".setting.AlertActivity"></activity>
    </application>

</manifest>