<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vanity.mobilevanity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity" />
        <activity android:name=".register.RegisterSearchActivity" />
        <activity android:name=".beautytip.BeautyTipDetailActivity" />
        <activity android:name=".beautytip.BeautyTipWriteActivity" />
        <activity android:name=".register.RegisterBarcodeActivity" />
        <activity android:name=".register.RegisterDetailActivity" />
        <activity android:name=".cosmetic.CosmeticListActivity" />
        <activity android:name=".cosmetic.CosmeticDetailActivity" />
        <activity android:name=".mypage.UpdateProfileActivity" />
        <activity android:name=".mypage.MyBeautyTipActivity" />
        <activity android:name=".mypage.LikeActivity" />
        <activity android:name=".alert.AlertActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".setting.AccessTermActivity" />
        <activity android:name=".setting.FAQActivity" />
        <activity android:name=".setting.PartnershipActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FacebookSignUpActivity"></activity>
    </application>

</manifest>